<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My application!</title>

    <meta name="description" content="My first application in Spring MVC">
    <meta name="author" content="Jonki!">

    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/changeEmail.css}"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/navbar.css}"/>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div data-th-replace="/include/navbar::navbar"></div>

            <div class="form-group form-button">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 center-block">
                    <th:block th:if="${invalid}">
                        <div class="alert alert-dismissable alert-danger">

                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Error!
                            </h4> <strong>Error!</strong><span th:text="${textError}">textError</span>
                        </div>
                    </th:block>
                    <th:block th:if="${success}">
                        <div class="alert alert-dismissable alert-success">

                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                ×
                            </button>
                            <h4>
                                Success!
                            </h4> <strong>Success!</strong><span th:text="${textSuccess}">textSuccess</span>
                        </div>
                    </th:block>
                    <form th:action="@{/user/settings/changeEmail}" th:object="${changeEmailDTO}" method="POST" class="form-horizontal">
                        <div class="form-group">

                            <label for="inputOldEmail" class="col-sm-2 control-label">
                                Old email
                            </label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputOldEmail"
                                       th:value="${session.user.email}" maxlength="36" readonly/>
                            </div>
                        </div>
                        <div class="form-group" th:classappend="${#fields.hasErrors('newEmail')} ? 'has-error' : null">

                            <label for="inputNewEmail" class="col-sm-2 control-label">
                                New email
                            </label>
                            <div class="col-sm-10">
                                <input th:name="newEmail" type="email" class="form-control" id="inputNewEmail"
                                       placeholder="New e-mail" maxlength="36"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">

                                <button type="submit" class="btn btn-success btn-lg" id="btnSaveChanges">
                                    Save Changes
                                </button>
                            </div>
                        </div>
                    </form>
                    <th:block th:if="${isChangeEmail}">
                        <form th:action="@{/user/settings/changeEmail/checkCode}" method="POST" class="form-horizontal form-activation-code">
                            <div class="form-group"  th:classappend="${invalidCode} ? 'has-error' : null">

                                <label for="inputCode" class="col-sm-2 control-label">
                                    Enter code:
                                </label>
                                <div class="col-sm-10">
                                    <input name="code" class="form-control" id="inputCode"
                                           placeholder="Code" maxlength="4"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">

                                    <button type="submit" class="btn btn-success btn-lg" id="btnOK">
                                        OK
                                    </button>
                                </div>
                            </div>
                        </form>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>