<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My application!</title>

    <meta name="description" content="My first application in Spring MVC">
    <meta name="author" content="Jonki!">

    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/search.css}"/>
    <script th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/bootstrap/js/jquery.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div data-th-replace="/include/navbar::navbar"></div>

            <div class="container target">
                <div class="row">
                    <div class="col-sm-10">
                        <a th:href="@{'/user/' + ${user.id}}"><h1 class="" th:text="${user.username}">Username</h1></a>

                        <th:block th:if="${isMyAccount}">
                            <a th:href="@{/user/settings}"><button type="button" class="btn btn-success">Edit my account!</button></a>
                        </th:block>
                        <th:block th:unless="${isMyAccount}">
                            <th:block th:if="${isUnknown}">
                                <form th:action="@{'/sendInvitation?id=' + ${user.id}}" method="POST">
                                    <button type="submit" class="btn btn-success">Add to friends!</button>
                                </form>
                            </th:block>
                            <th:block th:if="${isYourInvitation}">
                                <form th:action="@{'/deleteInvitation?id=' + ${user.id}}" method="POST">
                                    <button type="submit" class="btn btn-danger">Remove invitation!</button>
                                </form>
                            </th:block>
                            <th:block th:if="${isInvitationForYou}">
                                <form th:action="@{'/addFriend?id=' + ${user.id}}" method="POST">
                                    <button type="submit" class="btn btn-success">Accept the invitation!</button>
                                </form>
                            </th:block>
                            <th:block th:if="${isFriend}">
                                <form th:action="@{'/deleteFriend?id=' + ${user.id}}" method="POST">
                                    <button type="submit" class="btn btn-danger">Remove from friends!</button>
                                </form>
                            </th:block>

                            <a th:href="@{'/messages/sendMessage?recipient=' + ${user.username}}"><button type="button" class="btn btn-info">Send a message!</button></a>
                        </th:block>
                        <br>
                    </div>
                    <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="################"></a>

                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3">
                        <!--left col-->
                        <ul class="list-group">
                            <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Username</strong></span> <span th:text="${user.username}">Username</span></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">E-mail</strong></span><span th:text="${user.email}">E-mail</span></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Role</strong></span><span th:text="${user.authorities}">Authorities</span></li>
                        </ul>
                        <div class="panel panel-default">
                            <div class="panel-heading">Here will be something.

                            </div>
                            <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> Here will be something.

                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Here will be something. <i class="fa fa-link fa-1x"></i>

                            </div>
                            <div class="panel-body"><a th:href="@{'/user/' + ${user.id} + '/friends'}" class="">Friends (<span th:text="${numberOfFriends}">numberOfFriends</span>) </a>

                            </div>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item text-muted">Statistics<i class="fa fa-dashboard fa-1x"></i>

                            </li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a th:href="@{'/user/' + ${user.id} + '/addedMovies'}" class="">Number of movies added</a></strong></span><span th:text="${numberOfMoviesAdded}">numberOfMoviesAdded</span></li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Something</strong></span> #</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Something</strong></span> #</li>
                            <li class="list-group-item text-right"><span class="pull-left"><strong class="">Something</strong></span> #</li>
                        </ul>
                        <div class="panel panel-default">
                            <div class="panel-heading">Here will be something.</div>
                            <div class="panel-body">	<i class="fa fa-facebook fa-2x"></i>  <i class="fa fa-github fa-2x"></i>
                                <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i>  <i class="fa fa-google-plus fa-2x"></i>

                            </div>
                        </div>
                    </div>
                    <!--/col-3-->
                    <div class="col-sm-9" contenteditable="false">
                        <div class="row well displayProfiles">
                            <th:block th:each="movie : ${listMovies}">
                                <article class="search-result row">
                                    <div class="col-xs-12 col-sm-12 col-md-3">
                                        <a th:href="@{'/movie/' + ${movie.id}}" th:title="${movie.title}" class="thumbnail"><img
                                                src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-2">
                                        <ul class="meta-search">
                                            <li><i class="glyphicon glyphicon-calendar"></i> <span th:text="(${movie.releaseDate} != null and ${movie.releaseDate.length()} > 0) ? ${movie.releaseDate} : 'No release date!'">Release date</span></li>
                                            <li><i class="glyphicon glyphicon-leaf"></i> <span th:text="(${movie.genres} != null and ${movie.genres.length()} > 0) ? ${movie.genres} : 'No genres!'">Genres</span></li>
                                            <li><i class="glyphicon glyphicon-flag"></i> <span th:text="(${movie.country} != null and ${movie.country.length()} > 0) ? ${movie.country} : 'No countries!'">Country</span></li>
                                            <li><i class="glyphicon glyphicon-user"></i> <span th:text="(${movie.director} != null and ${movie.director.length()} > 0) ? ${movie.director} : 'No directors!'">Director</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                        <h3><a th:href="@{'/movie/' + ${movie.id}}" th:title="${movie.title}" th:text="${movie.title}">Movie title</a></h3>
                                        <p th:text="(${movie.storyline} != null and ${movie.storyline.length()} > 0) ? ${movie.storyline} : 'No storyline!'">Storyline</p>
                                        <span sec:authorize="isAuthenticated()"  class="plus"><a href="#" title="Add to favorites!"><i class="glyphicon glyphicon-plus"></i></a></span>
                                    </div>
                                    <span class="clearfix borda"></span>
                                </article>
                            </th:block>
                        </div>
                    </div>

                    <div id="push"></div>
                </div>
                <footer id="footer">
                    <div class="row-fluid">
                        <div class="span3">
                            <p>
                                <a href="#" rel="nofollow" title="###############" target="ext">###############</a><br>
                                <a href="#" rel="publisher">###############</a><br>
                                <a href="#" rel="nofollow" title="###############" target="ext">###############</a><br>
                                <a href="#" title="###############" target="ext">###############</a><br>
                            </p>
                        </div>
                        <div class="span3">
                            <p>
                                <a data-toggle="modal" role="button" href="#">###############</a><br>
                                <a href="#">###############</a><br>
                                <a href="#">###############</a><br>
                                <a href="#">###############</a><br>
                            </p>
                        </div>
                        <div class="span3">
                            <p>
                                <a href="#" target="ext" rel="nofollow">###############</a><br>
                                <a href="#" target="_ext" rel="nofollow" title="###############">###############</a><br>
                                <a href="#" target="_ext" rel="nofollow" title="###############">###############</a><br>
                                <a href="#">###############</a><br>
                            </p>
                        </div>
                        <div class="span3">
                            <span class="pull-right">############### <a href="/" title="###############">###############</a> | <a href="#">###############</a></span>
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </div>
</div>
</body>
</html>